In [17]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [18]:
df = pd.read_csv("Titanic.csv")
df.drop(columns=["Name","Ticket", "Cabin"], inplace=True)
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,male,22.0,1,0,7.2500,S
1,2,1,1,female,38.0,1,0,71.2833,C
2,3,1,3,female,26.0,0,0,7.9250,S
3,4,1,1,female,35.0,1,0,53.1000,S
4,5,0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S
887,888,1,1,female,19.0,0,0,30.0000,S
888,889,0,3,female,NaN,1,2,23.4500,S
889,890,1,1,male,26.0,0,0,30.0000,C
890,891,0,3,male,32.0,0,0,7.7500,Q

In [19]:
df = pd.concat([df, pd.get_dummies(df['Sex'])], axis=1)
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,female,male
0,1,0,3,male,22.0,1,0,7.2500,S,False,True
1,2,1,1,female,38.0,1,0,71.2833,C,True,False
2,3,1,3,female,26.0,0,0,7.9250,S,True,False
3,4,1,1,female,35.0,1,0,53.1000,S,True,False
4,5,0,3,male,35.0,0,0,8.0500,S,False,True
...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,male,27.0,0,0,13.0000,S,False,True
887,888,1,1,female,19.0,0,0,30.0000,S,True,False
888,889,0,3,female,NaN,1,2,23.4500,S,True,False
889,890,1,1,male,26.0,0,0,30.0000,C,False,True
890,891,0,3,male,32.0,0,0,7.7500,Q,False,True